<div class="text-center mt-5">
<b>VNR VIGNANA JYOTHI INSTITUTE OF ENGINEERING & TECHNOLOGY<br>
(AUTONOMOUS)<br>
Department of Information Technology</b>
</div>
<hr>
<table class="text-center mx-auto" style="width:600px;">
    <tr>
      <th>SNO</th>
      <th>Date</th>
      <th>Name of the Program</th>
      <th>Images</th>
    </tr>
    <tr>
      <td>1</td>
      <td>3/7/17-6/7/17</td>
      <td>HIGH INTENSITY CRT program</td>
      <td><img src="http://www.vnrvjiet.ac.in/cseatal1.jpg" alt=""></td>
    </tr>
    <tr>
      <td>2</td>
      <td>7/7/17-8/7/17</td>
      <td>Coding skills-Training</td>
      <td><img src="http://www.vnrvjiet.ac.in/icacecs.jpg" alt=""></td>
    </tr>
    <tr>
      <td>3</td>
      <td>11/7/17-14/7/17</td>
      <td>JPMC training by Alumni</td>
      <td><img src="http://www.vnrvjiet.ac.in/bvritn.jpg" alt=""></td>
    </tr>
    <tr>
      <td>4</td>
      <td>23/9/17</td>
      <td>Coding skills-Training(session 1)</td>
      <td><img src="http://www.vnrvjiet.ac.in/jpcse2.jpg" alt=""></td>
    </tr>
    <tr>
      <td>5</td>
      <td>10-06-2017</td>
      <td>Awareness session on Tech challenge by Capgemini</td>
      <td><img src="http://www.vnrvjiet.ac.in/bcw3.JPG" alt=""></td>
    </tr>
  </table>
  
