<div class="text-center mt-5">
    <b>VNR VIGNANA JYOTHI INSTITUTE OF ENGINEERING & TECHNOLOGY<br>
    (AUTONOMOUS)<br>
    Department of Information Technology</b>
    </div>
    <hr>
    <table class="text-center mx-auto" style="width:600px;">
        <tr>
          <th>SNO</th>
          <th>Academic Year</th>
          <th>Guest Lectures Conducted</th>
          <th>Workshops/FD Conducted</th>
          <th>Images</th>
        </tr>
        <tr>
          <td>1</td>
          <td>2018-19</td>
          <td>6</td>
          <td>2</td>
          <td><img src="http://www.vnrvjiet.ac.in/cseatal1.jpg" alt=""></td>
        </tr>
        <tr>
          <td>2</td>
          <td>2017-18</td>
          <td>15</td>
          <td>2</td>
          <td><img src="http://www.vnrvjiet.ac.in/icacecs.jpg" alt=""></td>
        </tr>
        <tr>
          <td>3</td>
          <td>2016-17</td>
          <td>16</td>
          <td>1</td>
          <td><img src="http://www.vnrvjiet.ac.in/bvritn.jpg" alt=""></td>
        </tr>
        <tr>
          <td>4</td>
          <td>2015-16</td>
          <td>11</td>
          <td>2</td>
          <td><img src="http://www.vnrvjiet.ac.in/jpcse2.jpg" alt=""></td>
        </tr>
        <tr>
          <td>5</td>
          <td>2014-15</td>
          <td>15</td>
          <td>1</td>
          <td><img src="http://www.vnrvjiet.ac.in/bcw3.JPG" alt=""></td>
        </tr>
      </table>
      
    