<!-- <div class="mt-5 mb-10 container" style="max-width:700 px;">
    <h1 class="text-center heading he1"> User Registration Form </h1>
   
   
   
   <form #ref="ngForm" (ngSubmit)="addUserData(ref)">
     <div>
       <label for="un">Username</label>
       <input type="text" name="username" id="un" class="form-control" ngModel >
     </div><br>
     <div>
       <label for="pw">Date of Birth</label>
       <input type="date" name="dob" id="pw" class="form-control" ngModel >
     </div><br>
     <div>
       <label for="em">E-Mail</label>
       <input type="email" name="Email" id="em" class="form-control" ngModel >
     </div>
     <button type="submit" class="btn d-block mx-auto m-3 "><h2>Register</h2></button>
   </form>
 -->